.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #000005;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  z-index: 10000; }

.overlay__container {
  position: relative; }

.overlay__content {
  width: 400px;
  background: #444444;
  border-radius: 5px;
  padding: 10px;
  color: #ffffff;
  font: 16px Helvetica, sans-serif;
  margin: 0; }

.overlay__close {
  font: 16px Helvetica, sans-serif;
  color: #ffffff;
  position: absolute;
  right: -5px;
  top: -10px;
  background: #d00000;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  text-decoration: none; }
