.best {
    background: url("../img/bg/best-bg.png") no-repeat top center;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
    background-size: cover;

    & .section-title {
        text-align: center;
        width: 100%;
        color: $color-title-gray;
        margin-top: rem(-25px);
        margin-bottom: rem(25px);
    }
}

.best__list {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: center;
    flex-wrap: wrap;

    & .best__item {
        max-width: 30%;
    }
}

.promo__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    justify-content: flex-start;

    & .promo__item {
        text-align: center;
    }
}

.promo__img {
    height: 89px;
    width: 97px;
}

.promo__title {
    color: $color-best-descr;
    font-family: Lifehack;
    font-size: rem(24px);
    font-weight: 500;
    line-height: rem(28.14px);
    letter-spacing: rem(-0.6px);
    padding-top: rem(40px);
}

.promo__descr {
    /* opacity: 0.8;*/
    color: $color-best-descr;
    font-family: Ubuntu;
    font-size: rem(14px);
    font-weight: 300;
    line-height: rem(25px);
    padding: (5px);
    padding-top: 10px;
}