.best {
    background: url("../img/bg/best-bg.png") no-repeat top center;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
    background-size: cover;

    & .section-title {
        text-align: center;
        width: 100%;
        color: $color-title-gray;
        margin-top: rem(-25px);
        margin-bottom: rem(25px);
    }
}

.best__list {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: center;
    flex-wrap: wrap;

    @include phones {
        flex-direction: column;
    }

    & .best__item {
        max-width: 30%;

        @include phones {
            max-width: 100%;
        }
    }
}

.promo__list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-grow: 1;

    @include phones {
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
    }

    & .promo__item {
        text-align: center;
        margin: rem(10px);

        @include phones {
            text-align: left;
        }
    }
}

.promo__img {
    height: rem(89px);
    width: rem(97px);

    @include phones {
        width: 25%;
    }
}


.promo__info {
    @include phones {
        width: 60%;
    }
}

.promo__title {
    color: $color-best-descr;
    font-family: Lifehack;
    font-size: rem(24px);
    font-weight: 500;
    line-height: rem(28.14px);
    letter-spacing: rem(-0.6px);
    padding: rem(40px) rem(15px) rem(15px) rem(15px);

    @include phones {
        flex-direction: row;
        padding: 0;
    }
}

.promo__descr {
    @extend %section-text-font;
    color: $color-best-descr;
    padding: (5px);
    padding-top: rem(10px);
    text-align: center;
}