//Картинки-заставки
.bg {  
  width: 100%;
  height: 100%;	
  display: block;
  position: absolute;
  left:0;
  top:0; 
  box-sizing: border-box; 
  background-color: $color-bg-center;
}   

.bg-salat {  
  background: 
    url("../img/bg/texture.png") no-repeat top center,
    url("../img/bg/video-bg.png") no-repeat top center;
}    

.bg-best {  
  background: url("../img/bg/best-bg.png") no-repeat top center;
}    

.bg-dark-burger {  
  background: url("../img/bg/orange.png") no-repeat top center;
}    

.bg-team {
  background: url("../img/bg/team.png") no-repeat top center;	
}

.bg-menu {
  background: url("../img/bg/menu.png") no-repeat top center;		
}

.bg-order {
  background: url("../img/bg/order-bg-texture.png") no-repeat top center;		
}

.bg-reviews {
  /*background: url("") no-repeat top center;		*/
}

.bg-map {
  background: url("../img/bg/map.png") no-repeat top center;		
}

.bg-contacts {
  background: url("../img/bg/chalkboard-texture.png") no-repeat top center;
}
