.contacts {
    position: relative;

    & .container {
        width: 100%;
        max-width: 100%;
    }   
}

#map {
    width: 100%;
    height: 100%;
}

.footer {
    height: 10vh;
    min-height: rem(50px);   
    position: absolute;
    bottom: 0;
    width: 100%;
    background: url("/src/img/bg/contacts.png") no-repeat;
    background-position: center center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;

    @include phones_portrait {
        height: 12vh;
        flex-direction: column;
    }
}

.contacts__content {
    width: 60%;

    @include phones_portrait {
        width: 100%;
    }
}

.contacts__adres {
    @extend %section-text-font;

    @include phones_portrait {
        text-align: center;
    }
}

.contacts__phone {

    & .contacts__phone-link {
       @extend %section-text-font; 
       color: $color-red;
       font-weight: 700;   
       text-decoration: none;    
    }

    @include phones_portrait {
        text-align: center;
    }

    &::before {
        content: "";
        display: inline-block;
        background: url("/src/icons/phone.svg") no-repeat center;
        height: rem(12px);
        width: rem(11px);
        margin-right: rem(5px);
    }
}

.contacts__social {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 30%;
    justify-content: flex-end;

    @include phones_portrait {
        width: 100%;
        justify-content: center;
        margin-left: rem(-20px);
        margin-top: rem(10px);
    }

    .icon {
        width: rem(20px);
        margin-left: rem(20px);
        fill: $color-icons-social;
        cursor: pointer;

        &:hover {
            fill: $color-icons-social-hover;
        }
    }
}