.frontpage {
    background: 
    		url("../img/bg/texture.png") no-repeat,
        url("../img/bg/video-bg.png") no-repeat;
    background-position: center center;
 	  position: relative;	  
	  background-size: cover;
}

.header__list {
    z-index: 20;	
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 3px;
    margin: 0;
    padding-left: 7%;
    padding-right: 7.5%;
    width: 100%;
    @extend .control-elements-font;

    & .header__item:nth-child(2) {
        margin-left: auto;
    }
}

.header__nav {
    margin-right: rem(0px);
}

.header__logo {
    margin-right: auto;  
    padding-top: 10px; 
}

.main-menu__list {
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: baseline;
}

.main-menu__item {
    padding-left: rem(10px);
    padding-right: rem(27px);
    list-style: disc outside;

    &:first-child {
        list-style: none;
    }

    &:last-child {
        padding-right: rem(18px);
    }
}

.main-menu__link {
     @extend .control-elements-font;

     &:hover {
        color: $color-red;
    }   
}

.button .header__btn {

}

.burger__list {
 
	  width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-grow: 1; 
 /*   border: 1px solid red;*/

    & .burger__item { 
    	  padding: 0;        margin: 0;
        flex-basis: 50%;      	

     /*   padding: 40px;
				padding-bottom: 20px;   */ /*	  border: 1px solid red;*/
    }
}

.burger__img img{
   height: rem(424px);
 /*  border: 1px solid red;	*/
}

.burger__descr {
    display: flex;
    flex-direction: column;
    justify-content: center;	  

  	& .section-title {
	    color: $color-title-yellow;
	    padding-left: 10px;
	  /*  font-family: Gagalin;
	    font-size: rem(75px);
	    font-weight: 300;
      padding-top: 10%;
      letter-spacing: 1.7px;*/
	  }

	& .descr-natural {
	    color: #ffffff;
	    font-family: Lifehack;
	    font-weight: 400;
	    font-size: rem(65px);
	    line-height: rem(75px);
	    letter-spacing: -1.63px;
	    padding-left: 10px;	    
	}

	& .descr-burger {
	    color: #ffffff;
	    font-family: Lifehack;
	    font-weight: 400;
	    font-size: rem(65px);
		  line-height: rem(65px);    
			padding-left: 10px;  
	}
}

