.frontpage {
    background: url("../img/bg/texture.png") no-repeat,
    url("../img/bg/video-bg.png") no-repeat;
    background-position: center center;
    position: relative;
    background-size: cover;
}

.header__list {
    z-index: 20;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding-left: 6%;
    padding-right: 6.5%;
    width: 100%;
    @extend .control-elements-font;

    & .header__item:nth-child(2) {
        margin-left: auto;
    }
}

.header__nav {
    margin-right: rem(0px);
}

.header__logo {
    margin-right: auto;
    padding-top: 10px;
}

.main-menu__list {
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: baseline;
}

.main-menu__item {
    padding-left: rem(10px);
    padding-right: rem(27px);
    list-style: disc outside;

    &:first-child {
        list-style: none;
    }

    &:last-child {
        padding-right: rem(18px);
    }
}

.main-menu__link {
    @extend .control-elements-font;

    &:hover {
        color: $color-red;
    }
}

.burger__list {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    flex-wrap: wrap;
    flex-grow: 1;

    & .burger__item {
        width: 50%;
    }
}

.burger__img img {
    height: rem(424px);
    margin-top: -15px;
}

.burger__descr {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: rem(-80px);

    & .section-title {
        color: $color-yellow;
        padding-left: rem(10px);
        margin: 0;
    }

    & .descr-natural {
        color: #ffffff;
        font-family: Lifehack;
        font-weight: 400;
        font-size: rem(65px);
        line-height: rem(75px);
        letter-spacing: -1.63px;
        padding-left: 10px;
    }

    & .descr-burger {
        color: #ffffff;
        font-family: Lifehack;
        font-weight: 400;
        font-size: rem(65px);
        line-height: rem(65px);
        padding-left: 10px;
    }
}