.frontpage {
    background: url("/src/img/bg/texture.png") no-repeat,
    url("/src/img/bg/video-bg.png") no-repeat;
    background-position: center center;
    position: relative;
    background-size: cover;
}

.header {
    z-index: 20;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding-left: 5%;
    padding-right: 5%;
    width: 100%;

    & .header__item:nth-child(2) {
        margin-left: auto;
    }
}

.header__logo {
    margin-right: auto;
    padding-top: 10px;
}

.header__nav {
    margin-right: rem(0px);

    @include tablets {
        display: none;
    }
}

.main-menu__list {
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: baseline;
    /*  overflow: auto; Scrollable Menu*/ 

    @include laptop {
        display: none;
    }
}

.main-menu__item {

    &::before {
        content: "";
        display: inline-block;
        vertical-align: middle;
        cursor: pointer;
        width: rem(5px);
        height: rem(5px);
        border-radius: 50%;
        background: $color-white;
        margin-right: rem(16px);
        margin-left: rem(16px);
    }

    @include laptop {
        padding-left: rem(5px);
        padding-right: rem(5px);
    }

    &:first-child::before {       
        display: none;
    }

    &:last-child {
        padding-right: rem(18px);
    }
}

.main-menu__link {
    @extend %control-elements-font;

    &:hover {
        color: $color-red;
    }
}

.mobile-menu {
    display: none;
    width: rem(24px);
    height: rem(22px);   

    @include laptop {
        display: block;
        margin-left: (30px);
    }

    & .mobile-menu__open {
        display: block;    
    }    

    & .mobile-menu__close {
       display: none;    
    }    
}

.mobile-menu-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: $color-bg-overlay;
    align-items: flex-start;
    padding-top: 5%;
    padding-bottom: 5%;  
    overflow-x: hidden;

    .mobile-menu {
        display: block;
    }

     .header__logo {
        margin-right: 0;
    }   

    & .header__btn {
        display: none;
    }

    & .header__nav {
        display: block;
        height: 100%;
    }

     & .main-menu__list {
        display: flex;     
        flex-direction: column;
        justify-content: center;
        align-items: center;  
        height: 100%;      
    }   

    & .main-menu__item {
        margin: rem(5px) 0 rem(5px) 0;        
    }   

     & .main-menu__item::before {
        display: block;
        margin: rem(15px) auto rem(20px) auto;
    }    

    & .main-menu__item:first-child::before {
        display: none;
    }       
    
    & .main-menu__link {
        font-size: rem(24px); 
        line-height: rem(40px);  
    }

     & .mobile-menu__open {
        display: none;
    }

    & .mobile-menu__close {
        display: block;
        margin-top: (20px);
        width: rem(30px);
        height: rem(30px);
    }    
}

.burger__list {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    flex-grow: 1;

    @include tablets_portrait {
        flex-direction: column;
    }

    & .burger__item {
        width: 50%;

        @include tablets_portrait {
            width: 100%;
        }
    }
}

.burger__img {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;

    @include tablets_portrait {
        align-items: center;
    }
}

.burger__img img {
    min-width: rem(200px);
    max-width: 60vmin;
    width: 100%;
    margin-top: rem(-150px);

    @include tablets_portrait {
        margin-top: rem(0px);
        margin-bottom: rem(20px);
        max-width: 70vmin;
    }
}

.burger__descr-font {
    color: $color-white;
    font-family: Lifehack;
    font-weight: 400;
    font-size: rem(70px);

    @include laptop {
        font-size: rem(55px);
    }

    @include tablets_landscape {
        font-size: rem(50px);
    }
}

.burger__descr {
    margin-top: rem(-80px);
    margin-bottom: rem(20px);
    margin-left: rem(15px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    @include tablets_portrait {
        align-items: center;
        margin-top: rem(0px);
    }

    & .section-title {
        color: $color-yellow;
        padding-left: rem(10px);
        margin: 0;

        @include laptop {
            padding-left: 10px;
        }

        @include tablets_portrait {
            text-align: center;
        }
    }

    & .descr-natural {
        @extend .burger__descr-font;
        line-height: rem(75px);
        letter-spacing: -1.63px;
        padding-left: rem(10px);
    }

    & .descr-burger {
        @extend .burger__descr-font;
        line-height: rem(65px);

        @include tablets_landscape {
            line-height: rem(45px);
        }
    }
}

//Стрелка вниз
.burger__arrow {
    width: 100%;
    position: relative;
    height: 5vh;

    & .burger__arrow--down {
        @extend .arrow__img;
        position: absolute;
        top: 0;
        left: 50%;  
        cursor: pointer;
    }
}