.menu {
    background: url("../img/bg/menu.png") no-repeat top center;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
    background-size: cover;
}

.menu__container {
    width: 100%;
}

.menu .section-title {
    text-align: left;
    position: absolute;
    top: rem(180px);
    left: rem(100px);

    @include tablets {
       top: rem(80px);      
       left: rem(50px);
    }   


}

.menu__list {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    list-style: none;
}

.menu__item {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    margin: 0;
    padding: 0;    
  //  border: 1px solid red;

    & .menu__name {
        @extend .mask2;
        @extend %section-h3-font;
        width: rem(80px);
        writing-mode: vertical-rl;
        margin: 0;
        padding: 0;
        vertical-align: bottom; 

        @include phones {
            width: rem(70px);
        }   

        & h3 {
            transform: rotate(180deg);
            margin: 0;
            padding: 0;
            width: 100%;
        }
    }

    & .menu__descr {
        @extend %section-text-font;
        @extend .mask;
        width: 0;
        overflow: hidden;   
        margin: 0;
        padding: 0;
    }
}

/*TODO: добавить маску затемнения*/
.menu__name {
    position: relative;
    background-size: 100% 100%;
    background-repeat: no-repeat;

    @each $name in 'meat' 'veg' 'diet' {
        &--#{$name} {
            background-image: url("../img/bg/img-for-#{$name}.png");
        }
    }
}

.menu__name h3::after {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    @extend .mask2;
    //  border: 1px solid white;
}

/*
.menu__img, .menu__mask {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;      
}*/

/*.menu__item:hover .menu__descr,*/
.menu__item--active  .menu__descr{
    width: rem(480px);
    overflow: visible;
    padding: rem(30px);
    //  border: 1px solid blue;

    @include phones {
        width: rem(200px);
    }    
}
