.menu {
    background: url("../img/bg/menu.png") no-repeat top center;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
    background-size: cover;
}

.menu__container {
    width: 100%;
}

.menu .section-title {
    text-align: left;
    position: absolute;
    top: rem(100px);
    left: rem(110px);

    @include tablets_portrait {
       top: rem(80px);      
       left: rem(50px);
    }   
}

.menu__list {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    list-style: none;
}

.menu__item {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    margin: 0;
    padding: 0;    
}

.menu__title {
    @extend %section-h3-font;
    width: rem(80px);
    margin: 0;
    padding: 0;
    vertical-align: bottom;  
    position: relative;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    cursor: pointer; 
    
    @each $name in 'meat' 'veg' 'diet' {

        //Картинка для разных типов меню своя
        &--#{$name} {
            background-image: url("../img/bg/img-for-#{$name}.png");
            z-index: 1;  
        }

        //Затемнение фона    
        &--#{$name}::after {
            background-color: #000000;
            opacity: 0.5;
            content: "";
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;   
            position: absolute;   
            z-index: 2;    
        }        
    }

    @include phones_portrait {
        width: rem(70px);
    }   

    //Вертикальная отрисовка типов меню
    & .menu__rotation {
      padding-left: 40px;
      display: inline-block;
      position: absolute;
      top: 100%;
      left: 50%;
      white-space: nowrap; 
      transform: rotate(-90deg) translateY(-50%);
      transform-origin: 0 0;
      z-index: 3;  
    }        
}

.menu__descr {
    @extend %section-text-font;
    @extend .mask;
    width: 0;
    overflow: hidden;   
    margin: 0;
    padding: 0;
}

.menu__item--active  .menu__descr{
    width: rem(480px);
    overflow: visible;
    padding: rem(30px);

    @include phones_portrait {
        width: rem(200px);
    }    
}
