.reviews {
    position: relative;   
}

.reviews__container {
    width: 100%;
}

.review__list {
    list-style: none;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    & .review__item {
        height: 50%;
        width: 25%;
        position: relative;

        @include tablets {
           height: 25%;            
           width: 50%;
        }       
    }
}

.review__img, 
.review__mask {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;      
}

.review__img {
    filter: grayscale(100%);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    background-position: fixed;
}

.review__mask  {
 	padding: rem(40px) rem(20px);
    opacity: 0;
    transform: scale(0.9);
    transition: 0.3s;   
    pointer-events: none;   

    @include tablets {
       text-align: center;
       padding: rem(10px) rem(10px);   
    }     
}

/*Затемнение картинки*/
.review__item:hover .review__mask{
	@extend .mask2;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    transform: scale(1);
    z-index: 5;    

    @include tablets {
        align-items: center;
    }  
}

.review__name {
	@extend %section-h4-font;	

    @include tablets {
       text-align: center;
       margin: 0;
       padding: 0;         
    }      

    @include phones {
       font-size: 200%;   
       margin-bottom: rem(40px);        
    }              
}

.review__quote {
    margin-bottom: rem(10px);
    @extend %section-text-font;

    @include tablets {
        text-align: center;   
    }     

    @include phones {
        display: none;    
    }        
}

.review__read-review {
    display: none;
    
    @include phones {  
        display: block;    
    }       
}

.review__read-more {
    display: block;  
    
    @include phones {
        display: none;    
    }       
}