/*Полоса прокрутки*****************************************/
.scrollbar {
	height: 0px;
 	border: 1px solid gray;	
}

.scrollbar-list {
  display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;	
  width: 18px;
  position: fixed;	
  margin: 0 auto;
  top: 87px;
  padding-left: 1034px;  
	height: 0px;
}

.scrollbar-item  {
  margin-bottom: 3px;
}

.scrollbar-item input[type="radio"] {
  display: none;
}

.scrollbar-item input[type="radio"] + label::before {
  content: "";
  display: inline-block;  	
  box-sizing: border-box;
  vertical-align: middle;   
  background: #ffffff; 
  border-radius: 50%; 
  cursor: pointer;
}

.scrollbar-item input[type="radio"]:checked + label::before {
  width: 12px;
  height: 12px;
  border: 3px solid #000000;
  box-shadow: 0 0 0 1px #ffffff;
}

.scrollbar-item input[type="radio"] + label::before {
  width: 6px;
  height: 6px;
}

