.team {
    background: url("../img/bg/team.png") no-repeat top center;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
    background-size: cover;

    & .section-title {
        @include phones {
            font-size: rem($mobile-section-title-font);
        }         
    }
}

.team__area {
    position: absolute;
    top: 0;
    right: 0;
    width: 49%;
    height: 100%;
    @extend .mask;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10% 2% 0% 9%;

    @include tablets {
        width: 100%;
        padding-left: 0;
    }
}

.team__content {
    height: 100%;
}

.team .section-title {
    color: $color-yellow;
    line-height: rem(64px);
    margin-bottom: rem(40px);

    @include tablets {
        text-align: center;
        margin-top: rem(100px);
    }
}

.member__list {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    @include tablets {
        align-items: center;
    }

    & .member__item {
        margin-bottom: rem(20px);

        @include tablets {
            text-align: center;
        }
    }
}

.member-content {
    height: 0;
    overflow: hidden;

    /*Фото сапиенса*/
    & .member__img {
        display: inline-block;
        height: rem(100px);
        width: rem(100px);
        background-size: cover;
        repeat: no-repeat;
        background-position: center;
        border-radius: 50%;
        margin-top: rem(10px);
        margin-right: rem(20px);
        margin-left: rem(10px);

        @include tablets {
            text-align: center;
            margin-right: 0;
            margin-left: 0;
        }
    }

    & .member__def {
        display: inline-block;
        width: rem(210px);
        @extend %section-text-font;

        @include tablets {
            display: block;
            width: rem(320px);
        }

        h5 {
            @extend %section-h5-font;

            @include tablets {
                text-align: center;
            }
        }

        p {
            @extend %section-text-font;

            @include tablets {
                text-align: center;
            }
        }
    }
}

.member__name {
    @extend %section-h4-font;
    text-decoration: none;

    &::before {
        content: "";
        display: inline-block;
        background: url("../icons/arrow.svg") no-repeat center;
        margin-right: rem(10px);

        height: rem(7px);
        width: rem(9px);
    }
}

/*класс модификатор, который будет навешиваться как дополнительный
класс на элемент аккордеона и тем самым менять в нем отображение на то, которое
соответствует активному элементу*/

.member__item--active {

    & .member-content {
        overflow: visible;
        height: 100%;
    }

    & .member__name {
        color: $color-yellow;
    }

    & .member__name::before {
        transform: scale(-1);
        transition: 0.2s;
    }
}

