html {
    font-size: 16px;

    @include laptop {
        font-size: 14px;
    }

    @include tablets {
        font-size: 13px;
    }

    @include phones {
        font-size: 12px;
    }
}

body,
html {
    height: 100%;
    padding: 0;
    min-width: $min-width;
    font-family: 'Ubuntu', Arial, Helvetica, sans-serif;
    background-color: $color-bg-side;
    /*  line-height: 1.42;*/
    position: relative;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

.wrapper {
    position: relative;
    width: 100%;
    min-height: 100%;
    overflow: hidden;
}

.maincontent {
    height: 100%;
 /*   min-height: $section-min-height;*/
}

.site-section {
    height: 100%;
    background-color: $color-bg-side;
    margin: 0 auto;
 /*   min-width: $section-min-width;
    min-height: $section-min-height;*/

    &_centered {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

.container {
   /* width: $section-width;*/
    width: 95%;
    max-width: rem(1500px);   
    height: 100vh;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    font-weight: normal;
}

ul {
    margin: 0;
    padding: 0;

    li {
        list-style: none;
    }
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

p,
blockquote {
    margin: 0;
    padding: 0;
}

footer {
    position: relative;
    width: 100%;
}

%section-title-font {
    color: $color-white;
    font-family: Gagalin;
    font-size: rem(72px);
    font-weight: 400;

    @include laptop {
       font-size: rem(65px);
    }   

    @include tablets_landscape {
        font-size: rem(55px);
    }          

    @include tablets_portrait {
        font-size: rem(50px);
    }          
}

.section-title {
    @extend %section-title-font;
    width: 100%;
    margin: 0;
}

%control-elements-font {
    vertical-align: middle;
    color: $color-white;
    font-family: Ubuntu;
    font-size: rem(13px);
    line-height: rem(30px);
    text-decoration: none;
}

%section-h3-font {
    text-align: center;
    color: $color-white;
    font-family: Gagalin;
    font-size: rem(40px);
    font-weight: 400;
    line-height: rem(63.75px);
}

%section-h4-font {
    width: 100%;
    color: $color-white;
    font-family: Gagalin;
    font-size: rem(14px);
    font-weight: 400;
    line-height: rem(28px);
}

%section-text-font {
    text-align: left;
    color: $color-white;
    font-family: Ubuntu; //TODO: шрифты продублировать похожими
    font-size: rem(14px);
    line-height: rem(24px);
    font-weight: 300;
}

%section-h5-font {
    @extend %section-text-font;
    font-weight: 700;
}

%section-user-message-font {
    @extend %section-text-font;
    font-weight: 700;
    font-size: rem(20px);
}

.button {
    border-radius: rem(5px);
    text-align: center;
    padding: 0px rem(15px);
    vertical-align: middle;
    transition: 0.3s;
    pointer-events: initial;
    border: 1px solid transparent;
    @extend %control-elements-font;
    cursor: pointer;

    & a {
        @extend %control-elements-font;
        text-decoration: none;
    }

    &__color--red {
        background-color: $color-red;

        &:hover {
            background-color: darken($color-red, 15%);
        }
    }

    &__color--gray {
        background-color: $color-gray;

        &:hover {
            background-color: lighten($color-gray, 15%);
        }
    }

    &__color--transparent {
        background-color: transparent;
    }
}

.visuallyhidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.mask {
    background-color: $color-gray-mask;
    opacity: 0.93;
}

.mask2 {
    background-color: $color-black-mask;
    opacity: 0.7;
}

.arrow__img {
    background: url("/src/icons/arrow-scroll.png") no-repeat center;
    width: rem(29px);
    height: rem(14px);
}

