html {
    font-size: 16px;

    @include laptop {
        font-size: 14px;
    }

    @include tablets {
        font-size: 13px;
    }

    @include phones {
        font-size: 12px;
    }
}

body,
html {
    height: 100%;
    padding: 0;
    min-width: $min-width;
    font-family: 'Ubuntu', Arial, Helvetica, sans-serif;
    background-color: $color-bg-side;
    /*  line-height: 1.42;*/
    position: relative;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

.wrapper {
    position: relative;
    width: 100%;
    min-height: 100%;
    overflow: hidden;
}

.maincontent {
    height: 100%;
 /*   min-height: $section-min-height;*/
}

.site-section {
    height: 100%;
    background-color: $color-bg-side;
 /*   min-width: $section-min-width;
    min-height: $section-min-height;*/

    &_centered {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

.container {
   /* width: $section-width;*/
    width: 95%;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /*  border: 1px solid white;  */
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    font-weight: normal;
}


ul {
    margin: 0;
    padding: 0;

    li {
        list-style: none;
    }
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

p {
    margin: 0;
    padding: 0;
}

footer {
    position: relative;
    width: 100%;
}

.control-elements-font {
    vertical-align: middle;
    color: #ffffff;
    font-family: Ubuntu;
    font-size: rem(13px);
    line-height: rem(30px);
    text-transform: uppercase;
    text-decoration: none;
}

.section-title {
    width: 100%;
    color: #ffffff;
    font-family: Gagalin;
    font-size: rem(72px);
    font-weight: 400;
    text-transform: uppercase;
}

.section-h3-font {
    text-align: center;
    color: #ffffff;
    font-family: Gagalin;
    font-size: 40px;
    font-weight: 400;
    line-height: 63.75px;
    text-transform: uppercase;
}

.section-h4-font {
    text-align: left;
    width: 100%;
    color: #ffffff;
    font-family: Gagalin;
    font-size: rem(14px);
    font-weight: 400;
    line-height: rem(28px);
    text-transform: uppercase;
}

.section-text-font {
    text-align: left;
    color: #ffffff;
    font-family: Ubuntu;
    font-size: rem(14px);
    line-height: rem(24px);
    font-weight: 300;
}

.section-h5-font {
    @extend .section-text-font;
    font-weight: 700;
}

.button {
    border-radius: rem(5px);
    text-align: center;
    padding: 0px rem(15px);
    vertical-align: middle;
    display: inline-block;
    transition: 0.3s;
    pointer-events: initial;

    & a {
        @extend .control-elements-font;
        text-decoration: none;
    }

    &__color--red {
        background-color: $color-red;

        &:hover {
            background-color: darken($color-red, 15%);
        }
    }

    &__color--gray {
        background-color: $color-gray;

        &:hover {
            background-color: lighten($color-gray, 15%);
        }
    }

    &__color--transparent {
        background-color: transparent;
    }
}


.visuallyhidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.mask {
    background-color: #2f3234;
    opacity: 0.93;
}

.mask2 {
    background-color: #000000;
    opacity: 0.7;
}