$button-size: rem(15px);
$point-pos: rem(4px);

.radio-button {
    display: inline-block;
    vertical-align: middle;
    position: relative;

    & input[type="radio"] {
        display: none;
    }

    & .radio-custom {
        width: $button-size;
        height: $button-size;
        background: $color-white;
        border-radius: 3px;
        position: relative;
        display: inline-block;
        vertical-align: middle;  
        margin-right: rem(10px);    
    }    

    & input[type="radio"]:checked + .radio-custom::before {
        content: "";
        display: block;
        position: absolute;
        top: $point-pos;
        right: $point-pos;
        bottom: $point-pos;
        left: $point-pos;
        background: $color-red;
        border-radius: 50%;
    }

    & .radio-custom,
    & input[type="radio"]:checked + .radio-custom::before {
        border-radius: 50%;
    }

    & span {
        vertical-align: middle;
    }   
}    

.checkbox-button {
    display: inline-block;
    vertical-align: middle;
    position: relative;

    & input[type="checkbox"] {
        display: none;
    }

    & .checkbox-custom {
        width: $button-size;
        height: $button-size;
        background: $color-white;
        border-radius: 1px;
        position: relative;
        display: inline-block;
        vertical-align: middle;
        margin-right: rem(10px); 
    }       

    & input[type="checkbox"]:checked + .checkbox-custom::before{
        content: "";
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: url("../icons/checkmark.png") no-repeat;
        background-position: center center;
    }

    & span {
        vertical-align: middle;
    }    
}


.button {
    border-radius: rem(5px);
    text-align: center;
    padding: 0px rem(15px);
    vertical-align: middle;
    transition: 0.3s;
    pointer-events: initial;
    border: 1px solid transparent;
    @extend %control-elements-font;
    cursor: pointer;

    & a {
        @extend %control-elements-font;
        text-decoration: none;
    }

    &__color--red {
        background-color: $color-red;

        &:hover {
            background-color: darken($color-red, 15%);
        }
    }

    &__color--gray {
        background-color: $color-gray;

        &:hover {
            background-color: lighten($color-gray, 15%);
        }
    }

    &__color--transparent {
        background-color: transparent;
    }
}


input[type="text"],
input[type="number"],
textarea {
    border-radius: rem(5px);
    border: 1px solid transparent;
    outline: 0;
    padding: rem(10px);
    width: 100%;
    overflow: hidden;

    &:focus {
        border-color: $color-yellow;
    }
}
