//Отображение на странице настроек ориентации
.orientation {
    position: fixed; 
    top: 0;
    left: 0;
    z-index: 50;

    @include laptop  {
	    width: rem(90px);
	    height: rem(90px);
        background-color: blue;	    
    }  
	
     @include tablets_landscape  {
	    width: rem(80px);
	    height: rem(60px);
        background-color: red;	    
    }  

    @include tablets_portrait {
	    width: rem(60px);
	    height: rem(80px);
	    background-color: pink;
    }  

     @include phones_landscape  {
   	    width: rem(70px);
	    height: rem(50px); 	
        background-color: green;	    
    }  

    @include phones_portrait  {
	    width: rem(50px);
	    height: rem(70px);
	    background-color: gray;
    }    
}
