@charset "UTF-8";
.orientation {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50; }
  @media screen and (max-width: 900px) {
    .orientation {
      width: 5.625rem;
      height: 5.625rem;
      background-color: blue; } }
  @media screen and (max-width: 768px) and (orientation: landscape) {
    .orientation {
      width: 5rem;
      height: 3.75rem;
      background-color: red; } }
  @media screen and (max-width: 768px) and (orientation: portrait) {
    .orientation {
      width: 3.75rem;
      height: 5rem;
      background-color: pink; } }
  @media screen and (max-width: 480px) and (orientation: landscape) {
    .orientation {
      width: 4.375rem;
      height: 3.125rem;
      background-color: green; } }
  @media screen and (max-width: 480px) and (orientation: portrait) {
    .orientation {
      width: 3.125rem;
      height: 4.375rem;
      background-color: gray; } }

@font-face {
  font-family: 'Ubuntu';
  src: url("/src/fonts/ubuntu/ubuntu-light-webfont.woff2") format("woff2"), url("../fonts/ubuntu/ubuntu-light-webfont.woff") format("woff");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Ubuntu';
  src: url("/src/fonts/ubuntu/ubuntu-regular-webfont.woff2") format("woff2"), url("../fonts/ubuntu/ubuntu-regular-webfont.woff") format("woff");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Ubuntu';
  src: url("/src/fonts/ubuntu/ubuntu-medium-webfont.woff2") format("woff2"), url("../fonts/ubuntu/ubuntu-medium-webfont.woff") format("woff");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Ubuntu';
  src: url("/src/fonts/ubuntu/ubuntu-b-webfont.woff2") format("woff2"), url("../fonts/ubuntu/ubuntu-b-webfont.woff") format("woff");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'Lifehack';
  src: url("/src/fonts/lifehack_medium-webfont.woff2") format("woff2"), url("../fonts/lifehack_medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Gagalin';
  src: url("/src/fonts/gagalin-regular-webfont.woff2") format("woff2"), url("../fonts/gagalin-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

/*! normalize.css v7.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0; }

/**
 * Add the correct display in IE 9-.
 */
article,
aside,
footer,
header,
nav,
section {
  display: block; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */
figcaption,
figure,
main {
  /* 1 */
  display: block; }

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px; }

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */ }

/**
 * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit; }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic; }

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000; }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block; }

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none; }

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */
details,
menu {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block; }

/**
 * Add the correct display in IE.
 */
template {
  display: none; }

/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none; }

html {
  font-size: 16px; }
  @media screen and (max-width: 900px) {
    html {
      font-size: 14px; } }
  @media screen and (max-width: 768px) {
    html {
      font-size: 13px; } }
  @media screen and (max-width: 480px) {
    html {
      font-size: 12px; } }

body,
html {
  height: 100%;
  padding: 0;
  min-width: 280px;
  font-family: 'Ubuntu', Arial, Helvetica, sans-serif;
  background-color: #282828;
  /*  line-height: 1.42;*/
  position: relative; }

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.wrapper {
  position: relative;
  width: 100%;
  min-height: 100%;
  overflow: hidden; }

.maincontent {
  height: 100%;
  /*   min-height: $section-min-height;*/ }

.site-section {
  height: 100%;
  background-color: #282828;
  margin: 0 auto;
  /*   min-width: $section-min-width;
    min-height: $section-min-height;*/ }
  .site-section_centered {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }

.container {
  /* width: $section-width;*/
  width: 95%;
  max-width: 93.75rem;
  height: 100vh;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  font-weight: normal; }

ul {
  margin: 0;
  padding: 0; }
  ul li {
    list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

p,
blockquote {
  margin: 0;
  padding: 0; }

footer {
  position: relative;
  width: 100%; }

.section-title, .dark-burger__order .dark-burger__price-number, .dark-burger__order .dark-burger__price-cur {
  color: #ffffff;
  font-family: Gagalin;
  font-size: 4.5rem;
  font-weight: 400; }
  @media screen and (max-width: 900px) {
    .section-title, .dark-burger__order .dark-burger__price-number, .dark-burger__order .dark-burger__price-cur {
      font-size: 4.0625rem; } }
  @media screen and (max-width: 768px) and (orientation: landscape) {
    .section-title, .dark-burger__order .dark-burger__price-number, .dark-burger__order .dark-burger__price-cur {
      font-size: 3.4375rem; } }
  @media screen and (max-width: 768px) and (orientation: portrait) {
    .section-title, .dark-burger__order .dark-burger__price-number, .dark-burger__order .dark-burger__price-cur {
      font-size: 3.125rem; } }

.section-title {
  width: 100%;
  margin: 0; }

.button a, .main-menu__link {
  vertical-align: middle;
  color: #ffffff;
  font-family: Ubuntu;
  font-size: 0.8125rem;
  line-height: 1.875rem;
  text-decoration: none; }

.menu__title {
  text-align: center;
  color: #ffffff;
  font-family: Gagalin;
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 3.98438rem; }

.burger-composition__btn .burger-composition__descr, .kkal-container .kkal-number, .kkal-descr, .template-msg__content .template-msg___title, .member__name, .review__name {
  width: 100%;
  color: #ffffff;
  font-family: Gagalin;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.75rem; }

.member-content .member__def h5, .burger-composition__list .burger-composition__item, .template-msg__content .template-msg__message, .promo__descr, .dark-burger__def, .member-content .member__def, .member-content .member__def p, .menu__descr, .review__quote, .order__form-block-title, .contacts__adres, .contacts__phone {
  text-align: left;
  color: #ffffff;
  font-family: Ubuntu;
  font-size: 0.875rem;
  line-height: 1.5rem;
  font-weight: 300; }

.member-content .member__def h5 {
  font-weight: 700; }

.button {
  border-radius: 0.3125rem;
  text-align: center;
  padding: 0px 0.9375rem;
  vertical-align: middle;
  display: inline-block;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  pointer-events: initial; }
  .button a {
    text-decoration: none; }
  .button__color--red {
    background-color: #e45028; }
    .button__color--red:hover {
      background-color: #aa3515; }
  .button__color--gray {
    background-color: #1f2122; }
    .button__color--gray:hover {
      background-color: #43484a; }
  .button__color--transparent {
    background-color: transparent; }

.visuallyhidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

.mask, .team__area, .menu__descr {
  background-color: #2f3234;
  opacity: 0.93; }

.mask2, .review__item:hover .review__mask {
  background-color: #000000;
  opacity: 0.7; }

.slider {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch; }

.slider__arrow {
  min-width: 4%;
  max-width: 4%;
  position: relative;
  cursor: pointer; }
  .slider__arrow .slider__arrow--left {
    position: absolute;
    top: 50%;
    left: 25%;
    -webkit-transform: rotate(90deg) translateX(-25%);
    -ms-transform: rotate(90deg) translateX(-25%);
    transform: rotate(90deg) translateX(-25%); }
  .slider__arrow .slider__arrow--right {
    position: absolute;
    top: 50%;
    right: 25%;
    -webkit-transform: rotate(-90deg) translateX(25%);
    -ms-transform: rotate(-90deg) translateX(25%);
    transform: rotate(-90deg) translateX(25%); }

.slider__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 92%;
  height: 100%;
  overflow: hidden;
  margin: 0; }

.slider__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  height: 100%;
  width: 100%;
  -webkit-transition: right 0.3s;
  -o-transition: right 0.3s;
  transition: right 0.3s; }

.slide-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  margin: 0;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  opacity: 0;
  z-index: 1;
  will-change: opacity; }

.slide-item--active {
  opacity: 1;
  z-index: 2; }

.scroll__img, .slider__arrow .slider__arrow--left, .slider__arrow .slider__arrow--right {
  background: url("/src/icons/arrow-scroll.png") no-repeat center;
  width: 1.8125rem;
  height: 0.875rem; }

.burger-composition {
  border-radius: 5px;
  background-color: #e45028;
  opacity: 0.7;
  width: 5.625rem;
  height: 5.625rem;
  cursor: pointer; }

.burger-composition__btn {
  width: 100%;
  height: 100%;
  position: relative;
  border: 1px solid transparent; }
  .burger-composition__btn .burger-composition__img {
    width: 50%;
    margin: 0.625rem auto 0.3125rem auto;
    display: block; }
  .burger-composition__btn .burger-composition__descr {
    text-align: center; }
  .burger-composition__btn .burger-composition__popup {
    display: none;
    position: absolute;
    top: 0;
    left: 100%;
    background-color: #ffffff;
    border-radius: 3%;
    width: 16.875rem; }

.burger-popup--active .burger-composition__popup {
  display: block; }

.burger-composition__list {
  padding: 1.25rem; }
  .burger-composition__list .burger-composition__row {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .burger-composition__list .burger-composition__item {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #2f3234;
    font-weight: 500; }
    .burger-composition__list .burger-composition__item .burger-component__massa {
      margin-left: auto; }
  .burger-composition__list .burger-composition__item * {
    margin: 0.3125rem 0.3125rem 0.3125rem 0.625rem; }

.burger-component__img {
  width: 44px;
  height: 39px; }
  .burger-component__img-beef, .burger-component__img-sauce, .burger-component__img-chicken {
    fill: #e45028; }
  .burger-component__img-buns, .burger-component__img-cheese {
    fill: #f9b43b; }
  .burger-component__img-cucumber, .burger-component__img-salad {
    fill: #8ac03e; }

/*

*/
.kkal {
  width: 3.75rem;
  height: 5.625rem; }

.kkal-container .kkal-number, .kkal-descr {
  text-align: center;
  opacity: 0.5; }

.kkal-container {
  position: relative;
  width: 100%; }
  .kkal-container .kkal-img {
    width: 3.75rem; }
  .kkal-container .kkal-number {
    position: absolute;
    top: 40%;
    left: 0;
    font-size: 1.25rem; }

.kkal-descr {
  line-height: 1.4; }

.template-msg__overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #2d3032;
  opacity: 0.92;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  z-index: 10000; }

.template-msg__container {
  position: relative; }

.template-msg__content {
  width: 25rem;
  max-width: 80vmin;
  background: #ffffff;
  border-radius: 0.3125rem;
  padding: 1.25rem;
  margin: 0; }
  .template-msg__content .template-msg___title {
    color: #2f3234; }
  .template-msg__content .template-msg__message {
    color: #2f3234;
    padding-top: 1.25rem; }

.template-msg__close {
  background-image: url("/src/icons/close.svg");
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  right: 0.9375rem;
  top: 0.625rem;
  width: 1.25rem;
  height: 1.25rem; }

.frontpage {
  background: url("/src/img/bg/texture.png") no-repeat, url("/src/img/bg/video-bg.png") no-repeat;
  background-position: center center;
  position: relative;
  background-size: cover; }

.header {
  z-index: 20;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0;
  padding-left: 5%;
  padding-right: 5%;
  width: 100%; }
  .header .header__item:nth-child(2) {
    margin-left: auto; }

.header__logo {
  margin-right: auto;
  padding-top: 10px; }

.header__nav {
  margin-right: 0rem; }
  @media screen and (max-width: 768px) {
    .header__nav {
      display: none; } }

.main-menu__list {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline; }
  @media screen and (max-width: 900px) {
    .main-menu__list {
      display: none; } }

.main-menu__item::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  width: 0.3125rem;
  height: 0.3125rem;
  border-radius: 50%;
  background: #ffffff;
  margin-right: 1rem;
  margin-left: 1rem; }

@media screen and (max-width: 900px) {
  .main-menu__item {
    padding-left: 0.3125rem;
    padding-right: 0.3125rem; } }

.main-menu__item:first-child::before {
  display: none; }

.main-menu__item:last-child {
  padding-right: 1.125rem; }

.main-menu__link:hover {
  color: #e45028; }

.mobile-menu {
  display: none;
  width: 1.5rem;
  height: 1.375rem; }
  @media screen and (max-width: 900px) {
    .mobile-menu {
      display: block;
      margin-left: 30px; } }
  .mobile-menu .mobile-menu__open {
    display: block; }
  .mobile-menu .mobile-menu__close {
    display: none; }

.mobile-menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #2d3032;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  padding-top: 5%;
  padding-bottom: 5%;
  overflow-x: hidden; }
  .mobile-menu-overlay .mobile-menu {
    display: block; }
  .mobile-menu-overlay .header__logo {
    margin-right: 0; }
  .mobile-menu-overlay .header__btn {
    display: none; }
  .mobile-menu-overlay .header__nav {
    display: block;
    height: 100%; }
  .mobile-menu-overlay .main-menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100%; }
  .mobile-menu-overlay .main-menu__item {
    margin: 0.3125rem 0 0.3125rem 0; }
  .mobile-menu-overlay .main-menu__item::before {
    display: block;
    margin: 0.9375rem auto 1.25rem auto; }
  .mobile-menu-overlay .main-menu__item:first-child::before {
    display: none; }
  .mobile-menu-overlay .main-menu__link {
    font-size: 1.5rem;
    line-height: 2.5rem; }
  .mobile-menu-overlay .mobile-menu__open {
    display: none; }
  .mobile-menu-overlay .mobile-menu__close {
    display: block;
    margin-top: 20px;
    width: 1.875rem;
    height: 1.875rem; }

.burger__list {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1; }
  @media screen and (max-width: 768px) and (orientation: portrait) {
    .burger__list {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; } }
  .burger__list .burger__item {
    width: 50%; }
    @media screen and (max-width: 768px) and (orientation: portrait) {
      .burger__list .burger__item {
        width: 100%; } }

.burger__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  @media screen and (max-width: 768px) and (orientation: portrait) {
    .burger__img {
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; } }

.burger__img img {
  min-width: 12.5rem;
  max-width: 60vmin;
  width: 100%;
  margin-top: -9.375rem; }
  @media screen and (max-width: 768px) and (orientation: portrait) {
    .burger__img img {
      margin-top: 0rem;
      margin-bottom: 1.25rem;
      max-width: 70vmin; } }

.burger__descr-font, .burger__descr .descr-natural, .burger__descr .descr-burger {
  color: #ffffff;
  font-family: Lifehack;
  font-weight: 400;
  font-size: 4.375rem; }
  @media screen and (max-width: 900px) {
    .burger__descr-font, .burger__descr .descr-natural, .burger__descr .descr-burger {
      font-size: 3.4375rem; } }
  @media screen and (max-width: 768px) and (orientation: landscape) {
    .burger__descr-font, .burger__descr .descr-natural, .burger__descr .descr-burger {
      font-size: 3.125rem; } }

.burger__descr {
  margin-top: -5rem;
  margin-bottom: 1.25rem;
  margin-left: 0.9375rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start; }
  @media screen and (max-width: 768px) and (orientation: portrait) {
    .burger__descr {
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      margin-top: 0rem; } }
  .burger__descr .section-title {
    color: #f9b43b;
    padding-left: 0.625rem;
    margin: 0; }
    @media screen and (max-width: 900px) {
      .burger__descr .section-title {
        padding-left: 10px; } }
    @media screen and (max-width: 768px) and (orientation: portrait) {
      .burger__descr .section-title {
        text-align: center; } }
  .burger__descr .descr-natural {
    line-height: 4.6875rem;
    letter-spacing: -1.63px;
    padding-left: 0.625rem; }
  .burger__descr .descr-burger {
    line-height: 4.0625rem; }
    @media screen and (max-width: 768px) and (orientation: landscape) {
      .burger__descr .descr-burger {
        line-height: 2.8125rem; } }

.best {
  background: url("/src/img/bg/best-bg.png") no-repeat top center;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  background-size: cover; }
  .best .section-title {
    text-align: center;
    width: 100%;
    color: #2f3234;
    margin-top: 0rem;
    margin-bottom: 0rem; }

.best__list {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  @media screen and (max-width: 480px) and (orientation: portrait) {
    .best__list {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; } }
  .best__list .best__item {
    max-width: 30%; }
    @media screen and (max-width: 480px) and (orientation: portrait) {
      .best__list .best__item {
        max-width: 100%; } }

.promo__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  margin-top: 1.875rem; }
  @media screen and (max-width: 480px) and (orientation: portrait) {
    .promo__list {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: start;
      -ms-flex-align: start;
      align-items: flex-start; } }
  .promo__list .promo__item {
    text-align: center; }
    @media screen and (max-width: 480px) and (orientation: portrait) {
      .promo__list .promo__item {
        text-align: left;
        margin-right: 1.25rem; } }

.promo__img {
  height: 5.5625rem;
  width: 6.0625rem; }
  @media screen and (max-width: 480px) and (orientation: portrait) {
    .promo__img {
      width: 25%; } }

@media screen and (max-width: 480px) and (orientation: portrait) {
  .promo__info {
    width: 60%; } }

.promo__title {
  color: #2f3234;
  font-family: Lifehack;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.75875rem;
  letter-spacing: -0.0375rem;
  padding: 2.5rem 0.9375rem 0.9375rem 0.9375rem; }
  @media screen and (max-width: 480px) and (orientation: portrait) {
    .promo__title {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      padding: 0; } }

.promo__descr {
  color: #2f3234;
  padding: 5px;
  padding-top: 0.625rem;
  text-align: center; }
  @media screen and (max-width: 480px) and (orientation: portrait) {
    .promo__descr {
      text-align: left;
      padding-left: 0;
      padding-right: 0; } }

.dark-burger {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f9b43b), color-stop(#ec8f39), to(#f9b43b));
  background-image: -o-linear-gradient(#f9b43b, #ec8f39, #f9b43b);
  background-image: linear-gradient(#f9b43b, #ec8f39, #f9b43b);
  position: relative;
  background-size: cover; }
  .dark-burger .section-title {
    text-align: left;
    color: #ffffff;
    line-height: 0.9; }
    @media screen and (max-width: 768px) and (orientation: portrait) {
      .dark-burger .section-title {
        width: 80%;
        text-align: center;
        margin-top: 1.25rem;
        margin-bottom: 1.25rem; } }

.dark-burger .slider {
  height: 80%; }
  @media screen and (max-width: 768px) and (orientation: portrait) {
    .dark-burger .slider {
      height: 90%; } }

.dark-burger__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0; }
  @media screen and (max-width: 768px) and (orientation: portrait) {
    .dark-burger__item {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; } }

.dark-burger__imgs {
  width: 51%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  @media screen and (max-width: 768px) and (orientation: portrait) {
    .dark-burger__imgs {
      width: 100%;
      height: 70vmin;
      -webkit-box-pack: end;
      -ms-flex-pack: end;
      justify-content: flex-end; } }
  .dark-burger__imgs .burger-composition {
    position: absolute;
    left: 2%;
    top: 3%; }
    @media screen and (max-width: 768px) and (orientation: portrait) {
      .dark-burger__imgs .burger-composition {
        left: 7%; } }
    @media screen and (max-width: 480px) and (orientation: portrait) {
      .dark-burger__imgs .burger-composition {
        left: 0; } }
  .dark-burger__imgs .kkal {
    position: absolute;
    left: 2%;
    bottom: 5%; }
    @media screen and (max-width: 768px) and (orientation: portrait) {
      .dark-burger__imgs .kkal {
        left: 80%;
        top: 3%; } }
    @media screen and (max-width: 480px) and (orientation: portrait) {
      .dark-burger__imgs .kkal {
        left: 85%; } }

.dark-burger__img {
  min-width: 12.5rem;
  max-width: 70vmin;
  width: 100%; }
  @media screen and (max-width: 768px) and (orientation: portrait) {
    .dark-burger__img {
      width: auto; } }
  @media screen and (max-width: 480px) and (orientation: portrait) {
    .dark-burger__img {
      width: auto; } }

.dark-burger__descr {
  width: 49%;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-left: 0.3125rem; }
  @media screen and (max-width: 768px) and (orientation: portrait) {
    .dark-burger__descr {
      width: 100%; } }

.dark-burger__def {
  margin-top: 2.5rem;
  margin-bottom: 1.25rem; }
  @media screen and (max-width: 768px) and (orientation: portrait) {
    .dark-burger__def {
      text-align: center;
      margin-top: 1.25rem; } }
  @media screen and (max-width: 480px) and (orientation: portrait) {
    .dark-burger__def {
      margin-top: 0;
      margin-bottom: 0; } }

.dark-burger__order {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  margin-bottom: 1.5625rem; }
  @media screen and (max-width: 768px) and (orientation: portrait) {
    .dark-burger__order {
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      margin-bottom: 0.9375rem; } }
  .dark-burger__order .dark-burger__price-number {
    color: #e45028; }
  .dark-burger__order .dark-burger__price-cur {
    color: #e45028;
    font-size: 1.875rem; }
  .dark-burger__order .button {
    margin-bottom: 0.625rem;
    margin-left: 1.5625rem; }

.team {
  background: url("/src/img/bg/team.png") no-repeat top center;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  background-size: cover; }

.team__area {
  position: absolute;
  top: 0;
  right: 0;
  width: 49%;
  height: 100%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 10% 2% 0% 9%; }
  @media screen and (max-width: 768px) {
    .team__area {
      padding-left: 2%; } }
  @media screen and (max-width: 768px) and (orientation: portrait) {
    .team__area {
      width: 100%;
      padding-left: 0; } }
  @media screen and (max-width: 480px) {
    .team__area {
      width: 100%;
      padding: 4% 2% 0% 2%; } }

.team__content {
  height: 100%; }

.team .section-title {
  color: #f9b43b;
  line-height: 4rem;
  margin-bottom: 5vh; }
  @media screen and (max-width: 768px) and (orientation: portrait) {
    .team .section-title {
      text-align: center;
      margin-top: 10vh; } }
  @media screen and (max-width: 480px) {
    .team .section-title {
      text-align: center;
      margin-top: 5vh; } }
  @media screen and (max-width: 480px) and (orientation: landscape) {
    .team .section-title {
      margin-top: 0; } }

.member__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly; }
  @media screen and (max-width: 768px) and (orientation: portrait) {
    .member__list {
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; } }
  @media screen and (max-width: 480px) {
    .member__list {
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; } }
  .member__list .member__item {
    margin-bottom: 1.25rem; }
    @media screen and (max-width: 768px) and (orientation: portrait) {
      .member__list .member__item {
        text-align: center; } }
    @media screen and (max-width: 480px) {
      .member__list .member__item {
        text-align: center; } }

.member-content {
  height: 0;
  overflow: hidden;
  /*Фото сапиенса*/ }
  .member-content .member__img {
    display: inline-block;
    height: 6.25rem;
    width: 6.25rem;
    background-size: cover;
    repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    margin-top: 0.625rem;
    margin-right: 1.25rem;
    margin-left: 0.625rem; }
    @media screen and (max-width: 768px) and (orientation: portrait) {
      .member-content .member__img {
        text-align: center;
        margin-right: 0;
        margin-left: 0; } }
    @media screen and (max-width: 480px) {
      .member-content .member__img {
        height: 5.3125rem;
        width: 5.3125rem; } }
  .member-content .member__def {
    display: inline-block;
    width: 50%; }
    @media screen and (max-width: 768px) and (orientation: portrait) {
      .member-content .member__def {
        display: block;
        width: 100%;
        padding: 0 10% 0 10%; } }
    @media screen and (max-width: 768px) and (orientation: portrait) {
      .member-content .member__def h5 {
        text-align: center; } }
    @media screen and (max-width: 768px) and (orientation: portrait) {
      .member-content .member__def p {
        text-align: center; } }

.member__name {
  text-decoration: none; }
  @media screen and (max-width: 768px) and (orientation: portrait) {
    .member__name {
      text-align: center; } }
  .member__name::before {
    content: "";
    display: inline-block;
    background: url("/src/icons/arrow.svg") no-repeat center;
    margin-right: 0.625rem;
    height: 0.4375rem;
    width: 0.5625rem; }

/*класс модификатор, который будет навешиваться как дополнительный
класс на элемент аккордеона и тем самым менять в нем отображение на то, которое
соответствует активному элементу*/
.member__item--active .member-content {
  overflow: visible;
  height: 100%; }

.member__item--active .member__name {
  color: #f9b43b; }

.member__item--active .member__name::before {
  -webkit-transform: scale(-1);
  -ms-transform: scale(-1);
  transform: scale(-1);
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s; }

.menu {
  background: url("/src/img/bg/menu.png") no-repeat top center;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  background-size: cover; }

.menu__container {
  width: 100%; }

.menu .section-title {
  text-align: left;
  position: absolute;
  top: 6.25rem;
  left: 6.875rem; }
  @media screen and (max-width: 768px) and (orientation: portrait) {
    .menu .section-title {
      top: 5rem;
      left: 3.125rem; } }

.menu__list {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  list-style: none; }

.menu__item {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  margin: 0;
  padding: 0;
  cursor: pointer; }

.menu__title {
  width: 5rem;
  margin: 0;
  padding: 0;
  vertical-align: bottom;
  position: relative;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  cursor: pointer; }
  .menu__title--meat {
    background-image: url("/src/img/bg/img-for-meat.png");
    z-index: 1;
    pointer-events: none; }
  .menu__title--meat::after {
    content: "";
    background-color: #000000;
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: 2; }
  .menu__title--veg {
    background-image: url("/src/img/bg/img-for-veg.png");
    z-index: 1;
    pointer-events: none; }
  .menu__title--veg::after {
    content: "";
    background-color: #000000;
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: 2; }
  .menu__title--diet {
    background-image: url("/src/img/bg/img-for-diet.png");
    z-index: 1;
    pointer-events: none; }
  .menu__title--diet::after {
    content: "";
    background-color: #000000;
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: 2; }
  @media screen and (max-width: 480px) and (orientation: portrait) {
    .menu__title {
      width: 4.375rem; } }
  .menu__title .menu__rotation {
    padding-left: 40px;
    display: inline-block;
    position: absolute;
    top: 100%;
    left: 50%;
    white-space: nowrap;
    -webkit-transform: rotate(-90deg) translateY(-50%);
    -ms-transform: rotate(-90deg) translateY(-50%);
    transform: rotate(-90deg) translateY(-50%);
    -webkit-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    transform-origin: 0 0;
    z-index: 3; }

.menu__descr {
  width: 0;
  overflow: hidden;
  margin: 0;
  padding: 0; }

.menu__item--active .menu__descr {
  width: 30rem;
  overflow: visible;
  padding: 1.875rem; }
  @media screen and (max-width: 480px) and (orientation: portrait) {
    .menu__item--active .menu__descr {
      width: 12.5rem; } }

.reviews {
  position: relative; }

.reviews__container {
  width: 100%;
  max-width: 100%; }

.review__list {
  list-style: none;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .review__list .review__item {
    height: 50%;
    width: 25%;
    position: relative; }
    @media screen and (max-width: 768px) and (orientation: portrait) {
      .review__list .review__item {
        height: 25%;
        width: 50%; } }

.review__img,
.review__mask {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0; }

.review__img {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  background-position: fixed; }

.review__mask {
  padding: 2.5rem 1.25rem;
  opacity: 0;
  -webkit-transform: scale(0.9);
  -ms-transform: scale(0.9);
  transform: scale(0.9);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  pointer-events: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  @media screen and (max-width: 768px) and (orientation: portrait) {
    .review__mask {
      text-align: center;
      padding: 0.625rem 0.625rem;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; } }

/*Затемнение картинки*/
.review__item:hover .review__mask {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  z-index: 5; }

@media screen and (max-width: 768px) and (orientation: portrait) {
  .review__name {
    text-align: center;
    margin: 0;
    padding: 0; } }

@media screen and (max-width: 480px) and (orientation: portrait) {
  .review__name {
    font-size: 200%;
    margin-bottom: 2.5rem; } }

.review__quote {
  margin-bottom: 0.625rem; }
  @media screen and (max-width: 900px) {
    .review__quote {
      display: none; } }

.review__read-review {
  display: none; }
  @media screen and (max-width: 900px) {
    .review__read-review {
      display: block; } }

.review__read-more {
  display: block; }
  @media screen and (max-width: 900px) {
    .review__read-more {
      display: none; } }

.order {
  background: url("/src/img/bg/order-bg.png") no-repeat;
  background-position: center center;
  position: relative;
  background-size: cover; }
  .order .section-title {
    color: #f9b43b;
    text-align: center;
    line-height: 4rem;
    margin-top: -0.625rem;
    margin-bottom: 1.5625rem; }
    @media screen and (max-width: 900px) {
      .order .section-title {
        margin-top: 0.625rem;
        margin-bottom: 0; } }
    @media screen and (max-width: 480px) and (orientation: portrait) {
      .order .section-title {
        padding-left: 1.875rem;
        padding-right: 1.875rem; } }
  .order .form {
    width: 100%;
    margin-top: 0.3125rem; }

.order__form-fields {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start; }
  @media screen and (max-width: 768px) and (orientation: portrait) {
    .order__form-fields {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; } }
  .order__form-fields .order__form-col {
    width: 44%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    @media screen and (max-width: 768px) and (orientation: portrait) {
      .order__form-fields .order__form-col {
        width: 60%; } }
    @media screen and (max-width: 480px) and (orientation: portrait) {
      .order__form-fields .order__form-col {
        width: 95%; } }
    .order__form-fields .order__form-col .order__form-row {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      width: 100%;
      padding-left: 0.625rem;
      padding-right: 0.625rem;
      margin-bottom: 0px;
      margin-top: 0.9375rem; }

.order__form-block {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin-right: 1.25rem; }
  .order__form-block:last-child {
    margin-right: 0; }

/*Выравниваем по центру кнопку и текст*/
.order input[type="checkbox"],
.order input[type="radio"] {
  vertical-align: middle;
  margin-right: 0.625rem; }

.order__form-block-title span,
.form__checkbox {
  /*TODO Стилизация оранжевым цветом*/
  vertical-align: middle; }

.order__form-block-title {
  padding-bottom: 0.1875rem; }

.form__input,
.form__textarea {
  border-radius: 0.3125rem;
  border-color: transparent;
  outline: 0;
  padding: 0.3125rem;
  width: 100%; }
  .form__input:focus,
  .form__textarea:focus {
    border-color: #f9b43b; }

/*
.order__chb2 {
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;

        & .order__form-block {
          flex: 0;
          min-width: 45%;
        }   



    @include phones_portrait { 
        flex-direction: row;
        align-items: center;
        justify-content: center;

        & .order__form-block {
          flex: 0;
          min-width: 45%;
        }        
    }
}

.order__chb1 {

    @include phones_portrait { 
        flex-direction: column;
        align-items: center;
        justify-content: center;

        & .order__form-block {
            width: 45%;
        }
    }
}*/
@media screen and (max-width: 480px) and (orientation: portrait) {
  .order__buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; } }

.contacts {
  position: relative; }
  .contacts .container {
    width: 100%;
    max-width: 100%; }

#map {
  width: 100%;
  height: 100%; }

.footer {
  height: 10vh;
  min-height: 3.125rem;
  position: absolute;
  bottom: 0;
  width: 100%;
  background: url("/src/img/bg/contacts.png") no-repeat;
  background-position: center center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  @media screen and (max-width: 480px) and (orientation: portrait) {
    .footer {
      height: 12vh;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; } }

.contacts__content {
  width: 60%; }
  @media screen and (max-width: 480px) and (orientation: portrait) {
    .contacts__content {
      width: 100%; } }

@media screen and (max-width: 480px) and (orientation: portrait) {
  .contacts__adres {
    text-align: center; } }

.contacts__phone {
  color: #e45028;
  font-weight: 700; }
  @media screen and (max-width: 480px) and (orientation: portrait) {
    .contacts__phone {
      text-align: center; } }
  .contacts__phone::before {
    content: "";
    display: inline-block;
    background: url("/src/icons/phone.svg") no-repeat center;
    height: 0.75rem;
    width: 0.6875rem;
    margin-right: 0.3125rem; }

.contacts__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 30%;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end; }
  @media screen and (max-width: 480px) and (orientation: portrait) {
    .contacts__social {
      width: 100%;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      margin-left: -1.25rem;
      margin-top: 0.625rem; } }
  .contacts__social .icon {
    width: 1.25rem;
    margin-left: 1.25rem;
    fill: #585858;
    cursor: pointer; }
    .contacts__social .icon:hover {
      fill: #ffffff; }

/*Полоса прокрутки*****************************************/
.navbar {
  position: fixed;
  background-color: transparent;
  top: 20%;
  width: 100%;
  height: 0;
  pointer-events: none; }

.container-navbar {
  position: relative; }

.navbar__list {
  position: absolute;
  right: 6%;
  width: 1.125rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  z-index: 15;
  pointer-events: initial; }
  @media screen and (max-width: 768px) {
    .navbar__list {
      right: 2%; } }

.navbar__item {
  margin-bottom: 0.25rem; }
  .navbar__item input[type="radio"] {
    display: none; }
  .navbar__item input[type="radio"] + label::before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    width: 0.375rem;
    height: 0.375rem;
    border-radius: 50%;
    background: #ffffff; }
  .navbar__item input[type="radio"]:checked + label::before,
  .navbar__item input[type="radio"]:hover + label::before {
    width: 0.875rem;
    height: 0.875rem;
    border: 4px solid #000000;
    -webkit-box-shadow: 0 0 0 1px #ffffff;
    box-shadow: 0 0 0 1px #ffffff; }

/*# sourceMappingURL=main.css.map */