html,
body,
main {
  margin: 0;
  padding: 0;
  background-color: #282828;
}

.site-section {
  width:  1100px;
  height: 649px;
  margin: 0 auto;  
  padding: 0;
  border-top: 1px solid #282828;
  position:relative;
  box-sizing: border-box;
}

.site-picture {  
  width: 1100px;
  height: 649px;	
  display: block;
  position: absolute;
  left:0;
  top:0; 
  z-index: 0;
  box-sizing: border-box; 
}   

.site-picture-salat {  
  background: 
    url("../img/texture.png") no-repeat top center,
    url("../img/video-bg.png") no-repeat top center;
  background-color: #80898e;  
}    

.site-picture-best {  
  background: 
    url("../img/best-bg.png") no-repeat top center;
  background-color: #80898e;  
}    

.header-menu-container {
  display: flex;
	flex-direction: row;
  height: 69px;
  justify-content: center;
  position: absolute;
  top: 12px; 
  right: 81px;
  bottom: 0;
  left: 75px; 
	align-items: center;
}

.header-menu-item {
  padding: 0;	
  margin: 0; 	
	height: 40px;
}

.header-menu-container .header-menu-item:nth-child(2) {
	margin-left: auto;
}

.logo {
  box-sizing: border-box; 
  height: 69px;
}

.main-menu-font {
  color: #ffffff;
	font-family: Ubuntu;
	font-size: 13px;
	line-height: 30px;	
	text-transform: uppercase;	
  text-decoration: none;
  color: #ffffff;
	vertical-align: middle;		
}

.menu-container {
  padding: 0;	
  margin: 0; 
  display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
}

.menu-item {
	padding-left: 8px;
	padding-right: 29px;	
}

.menu-item:first-child{ 
	list-style: none;
}

.menu-item:last-child { 
	padding-right: 15px;
}

.button {
	background-color: lightgray;
	border-radius: 5px;
	text-align: center;
	padding-left: 5px;
	padding-right: 5px;
  box-sizing: border-box; 	
}

.menu-item-button{
	width: 97px;
	height: 35px;
	background-color: #e45028;
}

.points-positioner {
  position: fixed;	
  margin: 0 auto;
  top: 87px;
  padding-left: 1034px;
	z-index: 10;
}

.points {
  top: 87px;
}	

.points {
  display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;	
  width: 18px;
}

.points-item  {
  margin-bottom: 3px;
}

.points-item input[type="radio"] {
  display: none;
}

.points-item input[type="radio"] + label::before {
  content: "";
  display: inline-block;  	
  box-sizing: border-box;
  vertical-align: middle;   
  background: #ffffff; 
  border-radius: 50%; 
  cursor: pointer;
}

.points-item input[type="radio"]:checked + label::before {
  width: 12px;
  height: 12px;
  border: 3px solid #000000;
  box-shadow: 0 0 0 1px #ffffff;
}

.points-item input[type="radio"] + label::before {
  width: 6px;
  height: 6px;
}

.burger-container {
  padding: 0;	
  margin: 0; 
  display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	justify-content: space-around;
  box-sizing: border-box; 
  position: absolute;
  height: 424px;
  top: 110px; 
  right: 120px;
  bottom: 0;
  left: 75px; 
}

.burger-item {
  margin: 0;
  padding: 0; 
 }

.burger-white {
  background: 
    url("../img/burger-white.png") no-repeat
    ; 
  width: 417px;
  height: 424px;
	margin-top: -70px;
}

.slogan {
  box-sizing: border-box; 
  height: 240px; 
}

.slogan-we-do {
	color: #f9b43b;
	font-family: Gagalin; /*TODO импорт шрифтов*/
	font-size: 72px;
	font-weight: 400;
}

.slogan-natural {
	padding-top: 10px;
	color: #ffffff;
	font-family: Lifehack;
	font-size: 65px;
	font-weight: 500;
	line-height: 85px;
  letter-spacing: -1.63px;	
}

.slogan-burger {
	margin-top: -10px;
	color: #ffffff;
	font-family: Lifehack;
	font-size: 65px;
	font-weight: 500;
  line-height: 60px;	
  letter-spacing: -1.63px;
  vertical-align: top;
}

