
$color-bg-side: #282828;
$color-bg-center: #80898e;
$color-title: #282828;

$color-red: #e45028;
$color-button-gray: #1f2122;

$color-best-descr: #2f3234;
$color-title-yellow: #f9b43b;
$color-title-gray: #2f3234;
$color-icons-social: #585858;
$color-icons-social-hover: #ffffff;


