$desktop: 1200px;
$laptop: 992px;
$tablets: 768px;
$phones: 480px;


$color-bg-side: #282828;
$color-bg-center: #80898e;
$color-title: #282828;

$color-red: #e45028;
$color-gray: #1f2122;
$color-yellow: #f9b43b;

$color-best-descr: #2f3234;
$color-title-gray: #2f3234;
$color-icons-social: #585858;
$color-icons-social-hover: #ffffff;


